/* Global styles */
html {
  font-size: 16px;
}
html body {
  margin: 0;
}

/* Main Navigation */
.nav__bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff0ed;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav__bar-logo {
  display: inline;
  min-width: 50px;
  max-width: 120px;
  height: auto;
  text-decoration: none;
  margin-left: 20px;
}
.nav__bar-heading {
  margin: 0;
  font-size: 3.75rem;
  font-family: "Open Sans";
  font-weight: 300;
  color: #393939;
}
.nav__bar-heading a {
  text-decoration: none;
  color: #393939;
}

.nav__bar-list-container {
  display: flex;
  align-self: flex-end;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.nav__bar-list,
.nav__bar-list-item,
.nav__bar-list-item a {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #393939;
  background-color: #fff0ed;
  font-size: 1.31rem;
  font-family: "Open Sans";
  font-weight: 400;
}

#nav__bar-list-item--blue a {
  color: #5bacc3;
}

.nav__bar-list-item {
  padding-left: 0px;
  padding-right: 40px;
}

/* Heading 1 and 2 */
h1,
h2 {
  font-size: 3.75rem;
  font-family: "Open Sans";
  font-weight: 300;
}

/* Heading 3, Nav heading and Footer heading */
h3,
p.section__card-price {
  font-size: 1.81em;
  font-family: "Open Sans";
  font-weight: 300;
}

/* Title */
.title__container {
  text-align: center;
  background-color: #fff0ed;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title__container-text {
  vertical-align: top;
  padding-top: 100px;
  padding-right: 388px;
  display: inline-block;
  text-align: left;
  margin-left: -56px;
}

.title__container-image {
  display: inline-block;
}

.title__text {
  width: 400px;
}

.title__button {
  margin-left: 0;
}

.title__image {
  position: relative;
  display: inline-block;
}

/* Button */
.a__button {
  text-decoration: none;
}

.button {
  font-size: 1.31em;
  font-family: "Open Sans";
  font-weight: 400;
  color: #fff;
  display: block;
  min-width: 180px;
  padding-top: 0.75em;
  padding-right: 1.25em;
  padding-bottom: 0.75em;
  padding-left: 1.25em;
  background: #5bacc3;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  border: 0;
}

/*
.button::before {
    content: "";
    position: absolute;
    border: 2px solid #393939;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 5px;
}

.button:focus {
    outline-offset: none;
}

.button:active {
    transform: translateY(5px) translateX(5px);
  }

*/
/* Paragrapgh Text */
.p-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.12rem;
}

/* Section Card Styles */
.section-main__container {
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom: 50px;
}

.section__title {
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
}

.section__container {
  display: flex;
  justify-content: center;
}

.section__card {
  min-width: 330px;
  max-width: 350px;
  min-height: 440px;
  max-height: 460px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.section__card-image {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.section__card-text {
  background-color: #fff0ed;
  display: flex;
  justify-content: space-around;
  border-radius: 0 0 10px 10px;
  padding-bottom: 20px;
}

.section__card-product {
  min-height: 240px;
  max-height: 550px;
}

.section__card-title {
  margin-bottom: 0;
}

.section__card-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.12rem;
  color: #909090;
  display: flex;
  margin-top: 0;
}

.section__card-left {
  display: flex;
  flex-direction: column;
}

.section__card-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.section__card-price {
  color: #5bacc3;
  font-weight: 700;
}

.section__button {
  display: inline-block;
  text-align: center;
}

.discount__top__container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.discount__top__container .discount__top__container-text {
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}
.discount__top__container .discount__top__container-text .discount__top__icons {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.discount__top__container .discount__top__container-text .discount__top__icons .discount__top__icon {
  width: 50px;
  height: auto;
}
.discount__top__container .discount__top__container-text .discount__top__button {
  margin-left: 0;
  box-sizing: content-box;
}

.discount__top__image-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 5px solid #5bacc3;
  top: -20px;
  left: -20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount__top__image-container-main {
  box-sizing: border-box;
  width: 450px;
  height: 450px;
  position: relative;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/coldbrewbackground.png");
  background-size: contain;
}

.discount__top__image {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 4s ease infinite;
}

.discount__top__image:hover {
  transform: rotate(360deg);
}

/*  Discount Text   */
.discount__section {
  text-align: center;
  background-color: #fff;
}

.discount__text {
  display: inline-block;
  padding-top: 2.25rem;
  padding-right: 5.25rem;
  padding-bottom: 2.25rem;
  padding-left: 5.25rem;
  margin-top: 120px;
  margin-left: 120px;
  margin-bottom: 150px;
  margin-right: 100px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.81rem;
  min-width: auto;
  max-width: 90%;
  color: #fff;
  background-color: #393939;
}

.discount__text--bold {
  font-weight: 700;
}

/*  Backgroundcolor */
.footer__container {
  text-align: center;
  background-color: #fff0ed;
}

/*  Section card Product image size  */
.section__card-product {
  min-height: 240px;
  max-height: 550px;
}

.days {
  font-weight: bold;
}

.footer__section {
  display: inline-block;
}

/* Footer */
.footer__container {
  margin-left: 0px;
  padding-left: 100px;
}

.footer__section {
  vertical-align: top;
  position: relative;
  min-width: 330px;
  max-width: 350px;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  margin: 1.25rem;
  display: inline-block;
  text-align: left;
}

.footer__icon {
  min-width: 50px;
  max-width: 120px;
  height: auto;
  text-decoration: none;
}

/* UI Changes for Mobile device - Iphone X */
@media screen and (max-width: 375px) {
  .nav__bar-list-container, .nav__bar-list, .nav__bar-list-item, .nav__bar-list-item a {
    text-decoration: none;
    list-style: none;
    color: #393939;
    background-color: #fff0ed;
    font-size: 2.2rem;
    font-family: "Open Sans";
    font-weight: 400;
    display: block;
  }

  .title__container-text {
    vertical-align: top;
    padding-top: 0;
    padding-right: 0;
    display: inline-block;
    text-align: left;
    margin-left: 56px;
  }

  .title__button {
    margin-left: 40px;
  }

  body {
    display: inline-block;
  }

  .footer__container {
    margin-left: 0px;
    padding-left: 0px;
  }

  .footer__section {
    vertical-align: top;
    position: relative;
    min-width: 330px;
    max-width: 350px;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.25rem;
    margin: 0.25rem;
    display: inline-block;
    text-align: left;
  }
}/*# sourceMappingURL=landing.css.map */